@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes slide12px {
  from {
    transform: translateX(-12px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fullUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fullSize {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes scaleCenter {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}


@keyframes showPrizesAnimationBlock {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes prizesAnimationBlockHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes showBullets {
  from {
    transform: scale(0);
    color: rgba($color: #ffffff, $alpha: 0);
  }

  to {
    transform: scale(1);
    color: rgba($color: #ffffff, $alpha: 1);
  }
}

@keyframes slideListText {
  from {
    transform: translateX(30px);
    color: rgba($color: #ffffff, $alpha: 0);
  }

  to {
    transform: translateX(0);
    color: rgba($color: #ffffff, $alpha: 1);
  }
}

@keyframes showRulesBtn {
  0% {
    color: rgba($color: $c-dark, $alpha: 0);
    opacity: 0;
    max-width: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    color: rgba($color: $c-dark, $alpha: 0);
  }

  100% {
    color: rgba($color: $c-dark, $alpha: 1);
    max-width: var(--maxWidth);
    opacity: 1;
  }
}

@keyframes fadeUpSymbol {
  from {
    transform: translate3d(0, 1.2em, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showSuitcase {
  from {
    transform: translate(-80%, 60%) scale(0);
  }

  to {
    transform: translate(-60%, 0%) scale(1);
  }
}

@keyframes showFlamingo {
  from {
    opacity: 0;
    transform: translate(-92%, 50%) rotate(-30deg);
  }

  to {
    opacity: 1;
    transform: translate(-92%, 0) rotate(0);
  }
}

@keyframes levitateFlamingo {
  from {
    transform: translate(-92%, 0%) rotate(0deg);
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translate(-92%, 3%) rotate(-5deg);
  }
}

@keyframes showLeafBlue1 {
  0% {
    transform: rotate(-30deg) translateX(0%);
    opacity: 0;
  }

  20% {
    transform: rotate(9deg) translateX(0%);
    opacity: 1;
  }

  40% {
    transform: rotate(-6deg) translateX(0%);
  }

  55% {
    transform: rotate(3deg) translateX(0%);
  }

  70% {
    transform: rotate(-2deg) translateX(0%);
  }

  85% {
    transform: rotate(2deg) translateX(0%);
  }

  100% {
    transform: rotate(0deg) translateX(0%);
    opacity: 1;
  }
}

@keyframes showLeafBlue2 {
  0% {
    transform: translateX(-123%) rotate(79deg);
    opacity: 0;
  }

  20% {
    transform: translateX(-123%) rotate(-12deg);
    opacity: 1;
  }

  40% {
    transform: translateX(-123%) rotate(8deg);
  }

  55% {
    transform: translateX(-123%) rotate(-6deg);
  }

  70% {
    transform: translateX(-123%) rotate(4deg);
  }

  85% {
    transform: translateX(-123%) rotate(-2deg);
  }

  100% {
    transform: translateX(-123%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes showLeafGreen {
  0% {
    transform: translateX(-11%) rotate(-40deg);
    opacity: 0;
  }

  20% {
    transform: translateX(-11%) rotate(9deg);
    opacity: 1;
  }

  40% {
    transform: translateX(-11%) rotate(-6deg);
  }

  55% {
    transform: translateX(-11%) rotate(3deg);
  }

  70% {
    transform: translateX(-11%) rotate(-2deg);
  }

  85% {
    transform: translateX(-11%) rotate(2deg);
  }

  100% {
    transform: translateX(-11%) rotate(0deg);
    opacity: 1;
  }
}

@keyframes resultBtnCase2 {
  0% {
    opacity: 0;
    color: transparent;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
    color: $c-dark;
  }
}


@keyframes showFormResultField {
  0% {
    width: 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    width: var(--width);
  }
}

@keyframes showPaginationBtns {
  from {
    transform: translateX(var(--x)) rotateZ(var(--deg));
  }

  to {
    transform: translateX(0) rotateZ(0deg);
  }
}
